<div class="add-medicine-main">
  <button class="btn btn-outline-secondary" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="right" (confirm)="confirmClicked = true" (cancel)="cancelClicked = true">Click me!</button> 
        <div class="header-medicine">
            <!-- <div class="input-group flex-nowrap search col-md-6 col-sm-4">
                <input type="text" class="form-control" placeholder="Search..." aria-label="search" aria-describedby="search">
                <button class="btn btn-outline-secondary" type="button" id="search" (click)="onSearch()">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div> -->

            <div class="add-btn col-md-6 col-sm-4">
                <button class="btn add-med" type="button" id="add-medicine" (click)="addMedicinePopup()">
                    <i class="fa-solid fa-plus"></i>
                    Add Medicine
                </button>
            </div>
        </div>

        <div class="search-data" *ngIf="isMedList">
            No Items found.
        </div>


        <!-- <div class="card" *ngFor="let item of medicineList" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title">{{item.medicineName}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{item.dose}}</h6>
              <p class="card-text">{{item.quantity}}</p>
              <a href="#" class="card-link"><i class="fa-solid fa-pen-to-square"></i></a>
              <a href="#" class="card-link"><i class="fa-solid fa-trash"></i></a>
            </div>
        </div> -->

        <mat-form-field appearance="outline">
            <mat-label>Search Medicine</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput (keyup)="applyFilter($event)" #input>
            <mat-hint>Type medicine name</mat-hint>
          </mat-form-field>
          
          <div class="medicine-data-table mat-elevation-z8">
            <table mat-table #mytable [dataSource]="dataSource" matSort>
          
              <!-- ID Column -->
              <!-- <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
              </ng-container> -->
          
              <!-- Progress Column -->
              <ng-container matColumnDef="medicineName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Medicine Name </th>
                <td mat-cell *matCellDef="let row"> {{row.medicineName}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="dose">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Dose </th>
                <td mat-cell *matCellDef="let row"> {{row.dose}} </td>
              </ng-container>
          
              <!-- Fruit Column -->
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Packsize / Qty. </th>
                <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
              </ng-container>

                 <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let row" class="action-link"> 
                <mat-icon (click)="onEditMedicine(row)">edit</mat-icon>
                <mat-icon (click)="onDeleteMedicine(row._id)">delete</mat-icon>
                <!-- <a (click)="openDialog()">Edit</a> | 
                <a (click)="openDialog()">Delete</a>   -->
                </td>
            </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No medicine matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          
            <div class="footer">
                <mat-paginator fixed [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of Medicines"></mat-paginator>
            </div>
        </div>
</div>